<%-include ('../include/_header') %>




    <table class="table " id="myTable" style="width: 90%;">
        <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Product</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Address</th>
                <th>Date</th>
                <th>Payment</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>

            <% const orderItems=orders.sort((dateA,dateB)=> dateB.date - dateA.date ) %>

                <% for (var i=0 ; i<orderItems.length ; i++ ) { %>

                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td>
                            <%= orderItems[i].deliveryDetails?.name %>
                        </td>
                        <td>
                            <%= orderItems[i].orderProducts[0]?.name %>
                        </td>
                        <td>
                            <%= orderItems[i].orderProducts[0]?.price %>
                        </td>
                        <td>
                            <%= orderItems[i].orderProducts[0]?.quantity %>
                        </td>
                        <td>
                            <%= orderItems[i].deliveryDetails?.address %>
                        </td>
                        <td>
                            <%= orderItems[i].date?.toDateString() %>
                        </td>
                        <td>
                            <%= orderItems[i]?.paymentMethod %>
                        </td>
                        <td>

                            <div class="">
                                <select id="status" name="status" onchange="deliveryStatus(value, '<%= orderItems[i]._id %>')" style="border-radius: 2px;">
                                    <option value="<%= orderItems[i].status %>" selected>
                                        <%= orderItems[i].status %>
                                    </option>
                                    <option value="Dispatched">Dispatched</option>
                                    <option value="Delivered">Delivered</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Cancelled">Cancelled</option>
                                </select>
                            </div>

                        </td>
                        <td>
                            <a href="/admin/cancelling-order/<%= orderItems[i]?._id %>"><button style="line-height: 23px; font-size: initial; background-color: #f95e5e; color: white;
                                 padding: 2px 8px 2px 8px; border-radius: 3px; border: none;">Cancel</button></a>
                        </td>



                    </tr>

                    <% } %>


        </tbody>
    </table>


    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>



<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#myTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>




    <script>
        function deliveryStatus(value, orderId) {
            $.ajax ({
            url: '/admin/deliveryStatus',
            type : 'post',
            data : {
                status: value,
                orderId: orderId
            }
        })
        }
    </script>