<%-include ('../include/_header') %>

    <style>
        div.dataTables_wrapper {
            width: 89%;
            margin: 4rem 0rem 4rem 4rem;
        }

        div.dt-buttons {
            padding-left: 67px;
        }

        label {
            padding-right: 67px;
        }

        .dataTables_wrapper .dataTables_info {
            padding-left: 67px;
        }

        .dataTables_wrapper .dataTables_paginate {
            padding-right: 67px;
        }
    </style>


    <div class="dt-buttons">
        <a href="/admin/add-coupon" class="border-shadow" style="padding: 39rem;">
            <span class="new">Add Coupon <i class="fa-solid fa-gift"></i></span>
        </a>
    </div>


    <!-- form handling................... -->

    <table class="table" id="myTable" style="width: 90%;">
        <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Percentage</th>
                <th>Min.Purchase</th>
                <th>From</th>
                <th>To</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            <% for (var i=0 ; i<coupons.length ; i++ ) { %>

                <tr>
                    <td>
                        <%= i + 1 %>
                    </td>
                    <td>
                        <%= coupons[i].coupon %>
                    </td>
                    <td>
                        <%= coupons[i].percentage %>
                    </td>
                    <td>
                        <%= coupons[i].min %>
                    </td>
                    <td>
                        <%= coupons[i].fromDate.toDateString() %>
                    </td>
                    <td>
                        <%= coupons[i].toDate.toDateString() %>
                    </td>


                    <% if( coupons[i].status) { %>
                        <form action="/admin/couponStatus/<%= coupons[i]._id%>?_method=patch" method="post">
                            <td>
                                <button onclick="enable()" type="submit" class="btn btn-success">Enabled</button>
                            </td>
                        </form>
                        <% } else { %>
                            <form action="/admin/couponStatus/<%= coupons[i]._id%>?_method=patch" method="post">
                                <td>
                                    <button onclick="disable()" type="submit" class="btn btn-danger">Disabled</button>
                                </td>
                            </form>
                            <% } %>

                                <td>

                                    <a href=" /admin/update-coupon/<%= coupons[i]._id%> ">
                                        <li class="list-inline-item" style="display: grid;">
                                            <button class="btn btn-success btn-sm rounded-0" type="button"
                                                data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                    class="fa fa-edit"></i></button>
                                        </li>
                                    </a>


                                    <li class="list-inline-item" style="display: grid;">
                                        <button onclick="confirmDelete('<%= coupons[i]._id %>')"
                                            class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                            data-placement="top" title="Delete">
                                            <i class="fa fa-trash"></i></button>
                                    </li>

                                    <!-- //--------------------------------------------------------------------------------------------// -->

                                </td>
                </tr>

                <% } %>

        </tbody>

    </table>
    </form>

    <!-- form handling.............................. -->

    </main>

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>



    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>


    <script>

        function confirmDelete(id) {

            // console.log(id);

            Swal.fire({
                title: 'Are you sure?',
                text: "You want to delete this coupon !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    type = "delete",
                        location.href = `/admin/delete-coupon/${id}?_method=DELETE`;
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        }


        function enable() {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Coupon Deactivated Successfully',
                showConfirmButton: false,

            })
        }
        function disable() {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Coupon Activated Successfully',
                showConfirmButton: false,

            })

        }
    </script>


    <%-include ('../include/_footer') %>