<%-include ('../include/_header') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    <!-- ////////////////////////////////////////////// -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3" style=" margin-top: 2rem; text-align: center; padding: 2rem 0rem 0rem 9rem;">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-primary"><i class="ri-user-line"></i></div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">
                                        <%= users %>
                                    </span></h2>
                                <h5 class="">Users</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-3"
                style=" margin-top: 2rem;  text-align: center; padding: 2rem 0rem 0rem 9rem;">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-danger"><i class="ri-book-line"></i></div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">
                                        <%= products %>
                                    </span></h2>
                                <h5 class="">Books</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-3"
                style=" margin-top: 2rem;  text-align: center; padding: 2rem 0rem 0rem 9rem;">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-warning"><i class="ri-shopping-cart-2-line"></i>
                            </div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">
                                        ₹<%= total %>
                                    </span></h2>
                                <h5 class="">Sale</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-3 "
                style="  margin-top: 2rem; text-align: center; padding: 2rem 0rem 0rem 9rem;">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-info"><i class="ri-radar-line"></i></div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">
                                        <%= orders %>
                                    </span></h2>
                                <h5 class="">Orders</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--------------COD ONLINE---------------------------------------->
            <canvas id="payment"
                style="width:100%; max-width:600px ; padding: 1rem; background-color: aliceblue; margin: 5rem 10rem 0rem 4rem;"></canvas>

            <!--------------USER BLOCK AND UNBLOCK---------------------------------------->
            <canvas id="userBlock"
                style="width:100%;max-width:600px ; padding: 1rem; background-color: aliceblue; margin: 5rem 5rem 0rem 0rem;"></canvas>

            <script>
                //........payment.............................................................

                var xValues = ['<%= paymentMods[0]._id %>'];

                new Chart("payment", {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{
                            data: [860, 1140, 1060, 1060, 1070, 1110, 1330, 2210, 7830, 2478],
                            borderColor: "red",
                            fill: false
                        }, {
                            data: [1600, 1700, 1700, 1900, 2000, 2700, 4000, 5000, 6000, 7000],
                            borderColor: "green",
                            fill: false
                        }, {
                            data: [300, 700, 2000, 5000, 6000, 4000, 2000, 1000, 200, 100],
                            borderColor: "blue",
                            fill: false
                        }]
                    },
                    options: {
                        legend: { display: false }
                    }
                });


                //........block...........................................................
                var xValues = ['<%= userBl[0]._id %>', '<%= userBl[1]._id %>'];
                var yValues = ['<%= userBl[0].count %>', '<%= userBl[1].count %>'];
                var barColors = [
                    "#1e7145",
                    "#00aba9",
                    // "#2b5797",
                    // "#1e7145"
                ];

                new Chart("userBlock", {
                    type: "doughnut",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "Users status"
                        }
                    }
                });

                  //................................................................


            </script>

            </body>

            </html>