<%-include ('../include/_header') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    <!-- ////////////////////////////////////////////// -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3" style=" margin-top: 2rem; text-align: center; padding: 2rem 0rem 0rem 9rem;">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-primary"><i class="ri-user-line"></i></div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">
                                        <%= users %>
                                    </span></h2>
                                <h5 class="">Users</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-3"
                style=" margin-top: 2rem;  text-align: center; padding: 2rem 0rem 0rem 9rem;">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-danger"><i class="ri-book-line"></i></div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">
                                        <%= products %>
                                    </span></h2>
                                <h5 class="">Books</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-3"
                style=" margin-top: 2rem;  text-align: center; padding: 2rem 0rem 0rem 9rem;">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-warning"><i class="ri-shopping-cart-2-line"></i>
                            </div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">
                                        ₹<%= total %>
                                    </span></h2>
                                <h5 class="">Sale</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-3 "
                style="  margin-top: 2rem; text-align: center; padding: 2rem 0rem 0rem 9rem;">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-info"><i class="ri-radar-line"></i></div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">
                                        <%= orders %>
                                    </span></h2>
                                <h5 class="">Orders</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--------------COD ONLINE---------------------------------------->
            <canvas id="payment"
                style="width:100%;     height: 22rem; max-width:600px ;  background-color: aliceblue;     margin: 3rem 3rem 3rem 5rem;"></canvas>

            <!--------------USER BLOCK AND UNBLOCK---------------------------------------->
            <canvas id="userBlock"
                style="width:100% ;   height: 22rem; max-width:600px ;  background-color: aliceblue;     margin: 3rem 3rem 3rem 3rem;"></canvas>

            <script>
                //........payment.............................................................

                var xValues = ['<%= paymentMods[0]._id %>', '<%= paymentMods[1]._id %>'];
                var yValues = ['<%= paymentMods[0].count %>', '<%= paymentMods[1].count %>'];
                var barColors = [
                    "#b91d47",
                    "#00aba9",
                    // "#2b5797",
                    // "#e8c3b9",
                    // "#1e7145"
                ];

                new Chart("payment", {
                    type: "doughnut",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "World Wide Wine Production 2018"
                        }
                    }
                });

                //........block...........................................................
                var xValues = ['<%= userBl[0]._id %>', '<%= userBl[1]._id %>'];
                var yValues = ['<%= userBl[0].count %>', '<%= userBl[1].count %>'];
                var barColors = [
                    "#1e7145",
                    "#00aba9",
                    // "#2b5797",
                    // "#1e7145"
                ];

                new Chart("userBlock", {
                    type: "doughnut",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "Users status"
                        }
                    }
                });

                  //................................................................


            </script>

            </body>

            </html>