<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>JK Books</title>
    <link rel="icon" type="image/x-icon" href="img/jklogo.jpg">


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
          CSS
          ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <header id="header" id="home" style="width: 100rem; margin: auto;">
        <div class="container" style="margin-left: 82rem;">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" style="position: absolute; left: 5rem;">
                    <a href="/">
                        <h3 style="font-family: 'Pacifico', cursive; color: white;">JK Books</h3>
                    </a>
                </div>

                <div>
                    <ul class="nav-menu">
                        <li><a href="/user-login">Log in</a></li>
                        <li><a href="/user-signup"> Sign up</a></li>
                    </ul>

                </div>
            </div>
        </div>


    </header>

    <!-- start banner Area -->
    <section class="banner-area" id="home">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-start">
                <div class="banner-content col-lg-7">
                    <h5 class="text-white text-uppercase">Author: Radim Malinic</h5>
                    <h1 class="text-uppercase">
                        New Adventure
                    </h1>
                    <p class="text-white pt-20 pb-20">
                        A fantastically written book of one man's journey,
                        experience and ideas of <br> what it takes to follow one's passions for creativity and
                        collaboration in the world .
                    </p>

                    <a href="/product-details?id=626d42ca95c5dcdbd1650f1c" class="primary-btn text-uppercase">Buy Now
                        for ₹1999</a>
                </div>


                <div class="col-lg-5 banner-right ">
                    <img class="img-fluid image" src="img/header-img.png" alt="">
                </div>

            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start about Area -->
    <section class="section-gap info-area" id="about">
        <div class="container">
            <div class="single-info row mt-40 align-items-center">
                <div class="col-lg-6 col-md-12 text-center no-padding info-left">
                    <div class="info-thumb">
                        <img src="img/about-img.jpg" class="img-fluid info-img" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 no-padding info-rigth">
                    <div class="info-content">
                        <h2 class="pb-30">Dr. Radim Malinic</h2>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher
                            conduct standards – especially in the workplace. That’s why it’s crucial that, as women.
                        </p>
                        <br>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher
                            conduct standards – especially in the workplace. That’s why it’s crucial that, as women.
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher
                            conduct standards – especially in the workplace. That’s why it’s crucial that, as women.
                        </p>
                        <br>
                        <img src="img/signature.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about Area -->


    <!-- Books showing   -->

    <section class="course-area section-gap" id="course">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-10">Trending</h1>
                        <!-- <p>Top 5</p> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-course-carusel">

                    <% for(let i=0; i<products.length; i++) { %>
                        <% if(products[i].quantity ) { %>
                            <div class="single-course item">

                                <input type="hidden" value="<%= products[i]._id %>">
                                <a href="/product-details?id=<%=products[i]._id%>"><img class="img-fluid"
                                        src="<%= products[i].image %>"
                                        style="width: 270px; height: 310px; object-fit: contain;" alt="">

                                    <div class="details">

                                </a>
                                <!-- <p class="sale-btn">For Sale</p> -->

                                <h4 style="text-align: center; font-weight: bold;">
                                    <%= products[i].name %>
                                        <h4 style="text-align: center; font-weight: bolder;">
                                            <%= products[i].author %>
                                                <h4 style="text-align: center;">
                                                    <div class="price">
                                                        <span>₹<%= products[i].price %></span>
                                                    </div>
                                                </h4>
                                                <div style="margin-left: 8%;">
                                                    <button onclick="landingCartBtn()"
                                                        style="background-color: #ff3457; color: white;"
                                                        class="btn mt-4">Add to Cart</button>
                                                    <button onclick="landingCartBtn()"
                                                        style="background-color: #ff6e3e; color: white;"
                                                        class="btn  mt-4">Buy Now</button>
                                                </div>
                            </div>

                </div>

                <% } else { %>
                    <div class="single-course item">

                        <input type="hidden" value="<%= products[i]._id %>">
                        <a href="/product-details?id=<%=products[i]._id%>"><img class="img-fluid"
                                src="<%= products[i].image %>" style="width: 270px; height: 310px; object-fit: contain;"
                                alt="">

                            <div class="details">

                        </a>
                        <h4 style="text-align: center; font-weight: bold;">
                            <%= products[i].name %>
                                <h4 style="text-align: center; font-weight: bolder;">
                                    <%= products[i].author %>
                                        <h4 style="text-align: center;">
                                            <div class="price">
                                                <span>₹<%= products[i].price %></span>
                                            </div>
                                        </h4>
                                        <div style="margin-left: 8%;">
                                            <button
                                                style="background-color: #ff3457; color: white; width: 7rem; text-align: right;"
                                                class="btn mt-4" disabled>Out of</button>
                                            <button
                                                style="background-color: #ff6e3e; color: white; width: 7rem; text-align: left;"
                                                class="btn  mt-4" disabled>Stock</button>
                                        </div>

                    </div>

            </div>

            <% } %>

                <% } %>

        </div>
        </div>
        </div>
    </section>
    <!-- End course Area -->

    <!-- Start why jk books -->
    <section style="width: 80rem; margin: auto;">
        <div class="row" style="display: flex;">
            <div style="display: flex;">

                <img src="img/why.jpg" alt="" style="border: 11px solid;
                border-color: beige ; position: absolute; width: 15rem; height: 23rem; margin: 6rem 0rem 0rem 13rem;">
            </div>
        </div>

        <div class="product-des" style=" position: relative; left: 40rem;   padding: 3rem 46rem 3rem 0rem;
        ">
            <h1 style="text-align: center;color: black; padding: 3rem 11rem 3rem 0rem;">WHY JK BOOKS ? </h1>

            <ol style="list-style-type: decimal; line-height: 400%;">
                <li style="color: black;">
                    Quality - Most of the books are imported, especially novels.
                </li>
                <li style="color: black;">
                    Quantity - Wide range of options from 1 Lakh+ books.
                </li>
                <li style="color: black;">
                    Free shipping* - Free shipping throughout India.
                </li>
                <li style="color: black;">
                    Payments - Trustable pre-payments including cash on delivery.
                </li>
                <li style="color: black;">
                    Market place - Partnerships with markets, especially educational books.
                </li>
            </ol>

        </div>

        </div>
        </div>
    </section>

    <!-- End why jk books -->


    <!-- Start testomial Area -->
    <section class="testomial-area section-gap" style="background-color: #f9f9ff;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">What our Reader’s Say about us</h1>
                        <p>Who are in extremely love with amazing books.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-tstimonial-carusel">
                    <div class="single-testimonial item">
                        <img class="mx-auto" style="width: 195px; height: 210px;" src="img/sund.jpg" alt="musk">
                        <p class="desc">
                            The best things about this store is that they have decent collection of books
                            as well. The books were latest and very thoughtful.The recommendations are based
                            on your listed interests.
                        </p>
                        <h4>Sundar Picchai</h4>
                        <p>
                            CEO at Google
                        </p>
                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" style="width: 195px; height: 210px;" src="img/sgk.jpg" alt="">
                        <p class="desc">
                            You’ve just finished a mind-blowing
                            book and you need an another book. What do you do? Dive straight into the
                            Internet and search JK Books site, definitely you get the correct
                            book you want.
                        </p>
                        <h4>Santhosh George Kulangara</h4>
                        <p>
                            Traveller
                        </p>
                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" style="width: 195px; height: 210px;" src="img/sg.jpg" alt="">
                        <p class="desc">
                            It’s impossible not to mention JK Books. The ultimate
                            social media platform for bibliophiles. If you’ve somehow
                            managed to go this long without stumbling upon this omnipresent site,
                            you can use JK Books.
                        </p>
                        <h4>Sharique Samsudheen</h4>
                        <p>
                            Owner of Marketfeed
                        </p>
                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" style="width: 195px; height: 210px;" src="img/sund.jpg" alt="">
                        <p class="desc">
                            The best things about this store is that they have decent collection of books
                            as well. The books were latest and very thoughtful.The recommendations are based
                            on your listed interests.
                        </p>
                        <h4>Sundar Picchai</h4>
                        <p>
                            CEO at Google
                        </p>
                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" style="width: 195px; height: 210px;" src="img/sgk.jpg" alt="">
                        <p class="desc">
                            You’ve just finished a mind-blowing
                            book and you need an another book. What do you do? Dive straight into the
                            Internet and search JK Books site, definitely you get the correct
                            book you want.
                        </p>
                        <h4>Santhosh George Kulangara</h4>
                        <p>
                            Traveller
                        </p>
                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" style="width: 195px; height: 210px;" src="img/sg.jpg" alt="">
                        <p class="desc">
                            It’s impossible not to mention JK Books. The ultimate
                            social media platform for bibliophiles. If you’ve somehow
                            managed to go this long without stumbling upon this omnipresent site,
                            you can use JK Books.
                        </p>
                        <h4>Sharique Samsudheen</h4>
                        <p>
                            Owner of Marketfeed
                        </p>
                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" style="width: 195px; height: 210px;" src="img/sund.jpg" alt="">
                        <p class="desc">
                            The best things about this store is that they have decent collection of books
                            as well. The books were latest and very thoughtful.The recommendations are based
                            on your listed interests.
                        </p>
                        <h4>Sundar Picchai</h4>
                        <p>
                            CEO at Google
                        </p>
                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" style="width: 195px; height: 210px;" src="img/sgk.jpg" alt="">
                        <p class="desc">
                            You’ve just finished a mind-blowing
                            book and you need an another book. What do you do? Dive straight into the
                            Internet and search JK Books site, definitely you get the correct
                            book you want.
                        </p>
                        <h4>Santhosh George Kulangara</h4>
                        <p>
                            Traveller
                        </p>
                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" style="width: 195px; height: 210px;" src="img/sg.jpg" alt="">
                        <p class="desc">
                            It’s impossible not to mention JK Books. The ultimate
                            social media platform for bibliophiles. If you’ve somehow
                            managed to go this long without stumbling upon this omnipresent site,
                            you can use JK Books.
                        </p>
                        <h4>Sharique Samsudheen</h4>
                        <p>
                            Owner of Marketfeed
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End testomial Area -->


    <!-- Start customer request books -->

    <section id="aa-support" style="padding: 4rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="    font-size: xx-large;
                      text-align: center;
                      color: #f53f50; padding-bottom: 2rem;">REQUEST ANY BOOK YOU NEED</h1>
                    <div class="aa-support-area" style="background-color: #337ab7;">


                        single support
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="aa-support-single">
                                <span style="color:black!important; font-size:36px;  margin: 3rem 0rem 0rem 33rem;"
                                    class="fa fa-search"></span>
                                <br>
                                <br>
                                <h2 style="color:white ; text-align: center; ">DIDN'T FIND YOUR BOOK ? REQUEST US, AND
                                    WE SHALL ARRANGE IT !</h2>
                                <p style="text-align: center; color: #bfc1c3;"> Leave your book details and contact
                                    details. We shall reach you shortly !
                                </p>
                                <br>
                                <p align="center">

                                    <a href="/bookreq" class="aa-browse-btn" style="color: white;">

                                        <button
                                            style="background: #f66;  color: white; padding: 1rem 2rem 1rem 2rem;  margin-bottom: 3rem; border: none; font-size: large;">
                                            <a href="/book-req" style="color: white;"> Request book <span
                                                    style="color:white;" class="fa fa-long-arrow-right"></span>
                                            </a>
                                        </button>

                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End customer request books -->


    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore dolore magna aliqua.
                        </p>
                        <p class="footer-text">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/"
                                target="_blank">JK Books</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest
                            JK Books in Delhi, Pune, distributes both print and electronic
                            newsletters, said store marketing director Brandon Stout, but the bulk of its communications
                            are via e-mail. An events calendar is printed and mailed to customers at the beginning of
                            each month, and Changing Hands keeps about 1,000 copies on hand in-store.
                        </p>
                        <p style="color: #f53f51;">
                            Email: jkbookStore@gmail.com
                        </p>
                        <p style="color: #777777;">Toll free: 1800 445 777</p>

                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="https://www.facebook.com/jayakrishnan.sfc"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/jk__007__"><i class="fa fa-twitter"></i></a>
                            <a href="https://dribbble.com/jk_007"><i class="fa fa-dribbble"></i></a>
                            <a href="https://www.instagram.com/j.k.007.__/?hl=en"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>

    <script>
        async function wishlist() {
            console.log("entered");
            const button = await document.getElementById("wishlist-btn")
            button.style["background-color"] = "red"

        }
        function landingCartBtn() {
            Swal.fire(
                'Please Login!',
                'User not found',
                'question'
            )
        }


    </script>
</body>

</html>