<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JK Books</title>

    <link rel="stylesheet" href="css/cartcss.css">
    <link rel="stylesheet" href="js/cartjs.js">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script src="https://kit.fontawesome.com/b6d1371885.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



</head>

<body style="background-color: white;">


    <nav class="prod-nav">
        <h2 class="prod-head"> JK Books</h2>
        <h3 style="width: 0px;  margin: auto; color: white; font-size: xx-large; position: relative;"> Cart</h3>
        <a href="/user-home">
            <h5 style="margin-right: 50px; margin-top: 22px; color: white;">Home</h5>
        </a>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <aside class="col-lg-9" style="width: 52%; position: absolute; margin-left: 7rem;  display: flex;">
                <div class="card" style="border: none;">
                    <div class="table-responsive">
                        <!-- <h1 class="emptyCart">Your Cart is Empty</h1> -->
                        <!-- <img style="width: 3rem; height: 3rem;" src="../../public/assets/img/cart.png" alt="cart empty"> -->
                        <% if (products.length===0) { %>
                            <div>
                                <img style="margin: 4rem 0rem 0rem 20rem;" src="img/cart2.webp">
                            </div>



                            <% } else { %>
                                <table class="table table-borderless table-shopping-cart" style="padding: 1rem;">
                                    <thead class="text-muted">
                                        <tr class="small text-uppercase">
                                            <th scope="col">Product</th>
                                            <th scope="col" width="120">Quantity</th>
                                            <th scope="col" width="120">Price</th>
                                            <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        <% for(i=0; i<products.length; i++ ) { %>

                                            <tr>
                                                <td>
                                                    <figure class="itemside align-items-center">
                                                        <div class="aside"><img src="<%= products[i].product[0].image%>"
                                                                class="img-sm"></div>
                                                        <figcaption class="info"> <a href="#" class="title text-dark"
                                                                data-abc="true">
                                                                <%= products[i].product[0].name %>
                                                            </a>
                                                            <p class="text-muted small">
                                                                <%= products[i].product[0].author %><br>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </td>
                                                <td
                                                    style="display: flex;  height: 7rem; width: 7rem; justify-content: center;">

                                                    <button
                                                        onclick="changeQuantity('<%= pros._id %>', '<%= products[i].product[0]._id %>',-1)"
                                                        class="cart-item-count mr-3 quantityChange">-</button>
                                                    <p style="padding: 2rem 1rem 0rem 1rem;">
                                                        <span id="<%= products[i].product[0]._id %>">
                                                            <%= pros.products[i].quantity %>
                                                        </span>
                                                    </p>
                                                    %>
                                                    <button
                                                        onclick="changeQuantity('<%= pros._id %>', '<%= products[i].product[0]._id %>',1)"
                                                        class="cart-item-count mr-3 quantityChange">+</button>


                                                </td>
                                                <td>
                                                    <div class="price-wrap" style="text-align: center;"> <var
                                                            class="price">
                                                            <%= products[i].product[0].price %><br>
                                                        </var>
                                                    </div>
                                                </td>
                                                <td class="text-right d-none d-md-block"
                                                    style="width: 4rem; display: flex; justify-content: center;">
                                                    <a data-original-title="Save to Wishlist" title="" href=""
                                                        class="btn btn-light" data-toggle="tooltip" data-abc="true">
                                                    </a>

                                                    <button class="remove-btn"
                                                        onclick="removeBtn('<%= products[i].product[0]._id %>', '<%= pros._id %>')">
                                                        Remove
                                                    </button>
                                                </td>
                                            </tr>

                                            <% } %>

                                                <% } %>


                                    </tbody>
                                </table>
                    </div>
                </div>
            </aside>






            <% if (products.length !=0 ) { %>


                <aside class="col-lg-3" style="width: 30%; position: absolute; margin-left: 60rem;">
                    <!-- <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group"> <label>Have coupon?</label>
                                <div class="input-group"> <input type="text" class="form-control coupon" name=""
                                        placeholder="Coupon code"> <span class="input-group-append"> <button
                                            class="btn btn-primary btn-apply coupon">Apply</button> </span> </div>
                            </div>
                        </form>
                    </div>
                </div> -->
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price:</dt>
                                <dd class="text-right ml-3">₹<%= totalAmount %>
                                    
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Discount:</dt>
                                <dd class="text-right text-danger ml-3">- ₹0.00</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right text-dark b ml-3"><strong>₹<%= totalAmount %></strong>
                                </dd>
                            </dl>
                            <hr>
                            <a href="/place-order"><button class="orderBtn">Place order</button></a>
                        </div>
                    </div>
                </aside>
                <% } %>
        </div>
    </div>

    <script>
        function changeQuantity(cartId, proId, count) {
            let quantity = parseInt(document.getElementById(proId).innerHTML)
            // console.log("count----------------------------------------------------------", typeof (count));
            // console.log("quantity-------------------------------------------------------", quantity);
            $.ajax({
                url: ('/change-product-quantity'),
                data: {
                    cart: cartId,
                    product: proId,
                    count: count,
                    quantity: quantity
                },
                type: 'post',
                success: (response) => {
                    // alert(response)
                    if (response.status && response.removeProduct) {

                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 1500,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })
                        setTimeout(() => {
                            location.reload();
                        }, 1500);

                        Toast.fire({
                            icon: 'success',
                            title: 'Item removed successfully!'
                        })


                        // location.reload();
                    }
                    else {
                        document.getElementById(proId).innerHTML = quantity + count;
                        location.reload()
                    }
                }
            })
        }

        function removeBtn(proId, cartId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to remove this item?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({

                        url: ('/pro-remove'),
                        data: {
                            cart: cartId,
                            product: proId
                        },
                        type: 'post',
                        success: (response) => {
                            location.reload()
                        }
                    })
                }
            })
        }

    </script>


</body>

</html>