<%- include('../include/pro_header') -%>

    <link rel="stylesheet" href="css/style.css">

    <!-- <link rel="stylesheet" href="css/magiczoomplus.css"> -->

    <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>

    <!-- //-------------------------------------------------------------------// -->

    <div class="row" style="display: flex;">
        <div style="padding: 6rem 0 0 7rem;">
            <div style="display: flex;" id="img-container" style="width: 400px">

                <!-- <img class="prod-img" src="<%= products.image %>" /> -->

                <!-- <a href="<%= products.image  %>" class="prod-img" > -->
                <img src="<%= products.image  %>" id="imaage" style="max-width: 300px max-height 300px; " />
                <!-- </a>` -->
            </div>
        </div>



        <div class="product-des">
            <h2 style="text-align: center;color: #f53f51; padding: 3rem 11rem 3rem 0rem;">
                <%= products.name %>
            </h2>

            <h3 style="margin-left: 7rem;">By : <span style="color: #f53f51;">
                    <%= products.author %>
                </span></h3>
            <div>

                <p style="width: 100%; padding: 3rem 0rem 0rem 0rem; margin-left: 7rem;">About the Book:
                    <br><br>
                    <%= products.description %>
                </p>

            </div>
            <div style="margin-left: 5%; display: flex; padding: 5rem;">
                <button onclick="addCart('<%= products._id %>') " class="addCartBtn btn mt-4">Add to Cart</button>
                <a href="/place-order-direct?id=<%= products._id%>"><button class="buyNowBtn btn  mt-4">Buy Now</button></a>
            </div>
        </div>

    </div>

    <!-- <td valign="top" align="left">
        <iframe style="margin-left: 8rem;"
            src="https://www.facebook.com/plugins/like.php?href=https://www.bookswagon.com/book/rich-poor-dad-t-robert/9781612680194&amp;width=62&amp;layout=button_count&amp;action=like&amp;size=small&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=1910926215834205"
            width="62" height="21" style="border: none; overflow: hidden" scrolling="no" frameborder="0"
            allowtransparency="true"></iframe>
    </td> -->

    <!-- image zoom................................................................ -->
    <script>
        var options = {
            width: 270,
            height: 350,
            zoomWidth: 350,
            offset: { vertical: 5, horizontal: 100 }
            // zoomPosition: 'right'
        };
        new ImageZoom(document.getElementById("img-container"), options);
    </script>


    <script>
        function addCart(proId) {
            $.ajax({
                url: `/add-to-cart/${proId}`,
                method: 'get',
                success: (response) => {
                    if (response.status) {
                        let count = $('#cartCount').html();
                        count = parseInt(count) + 1;
                        $('#cartCount').html(count);
                    }
                    console.log("ajaxcartttttttttttt", proId);
                    Swal.fire('Product added to cart successfully');

                },
            });
        }
    </script>

    </body>

    </html>