<%- include('../include/pro_header') -%>

    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>

    <!-- //-------------------------------------------------------------------// -->

    <div class="row" style="display: flex;">
        <div style="padding: 6rem 0 0 7rem;">
            <div style="display: flex;" id="img-container" style="width: 400px">

                <img src="<%= products.image  %>" id="imaage" style="max-width: 300px max-height 300px; " />

            </div>
        </div>

        <div class="product-des">
            <h2 style="text-align: center;color: #f53f51; padding: 3rem 11rem 3rem 0rem; margin-left: 4rem;">
                <%= products.name %>
            </h2>

            <h3 style="margin-left: 7rem;">By : <span style="color: #f53f51;">
                    <%= products.author %>
                </span></h3>
            <div>

                <p style="width: 100%; padding: 3rem 0rem 0rem 0rem; margin-left: 7rem;">About the Book:
                    <br><br>
                    <%= products.description %>
                </p>

            </div>
            <div style="margin-left: 5%; display: flex; padding: 5rem;">

                <% if ( isUserlogin ) { %>
                    <% if (products.quantity) { %>
                        <button onclick="addCart('<%= products._id %>') " class="addCartBtn btn mt-4">Add to
                            Cart</button>
                        <a href="/place-order-direct?id=<%= products._id%>"><button class="buyNowBtn btn  mt-4">Buy
                                Now</button></a>
                        <div>
                            <a href="/cart"><button
                                    style="width: 12rem; height: 3rem; background-color: #5391ae; color: white;  margin-left: 3rem; ">Go
                                    to Cart</button></a>
                        </div>
                        <% } else { %>
                            <button onclick="stockBtn()" style="width: 12rem;   height: 3rem;      background-color: #f53f51; font-size: large;
                        color: white;">Out of Stock</button>
                            <a href="/cart"><button style="width: 12rem;   height: 3rem;      background-color: #5391ae;
                        color: white;
                        margin-left: 3rem; "> Go to Cart</button></a>
                            <% } %>
                                <% } else { %>
                                    <% if (products.quantity) { %>

                                        <button onclick="loginRqstBtn()"
                                            style=" width: 12rem;  height: 3rem; font-size: large; background-color: #f53f51;; border: none; color: white;"
                                            class="btn mt-4">Add to Cart</button>
                                        <button onclick="loginRqstBtn()"
                                            style="background-color: #fb854d; border: none; width: 12rem;  height: 3rem; font-size: large; color: white;  border: none; margin-left: 3rem; padding: 5px;"
                                            class="btn  mt-4">Buy Now</button>
                                        <% } else { %>
                                            <button onclick="stockBtn()"
                                                style="width: 12rem; height: 3rem; background-color: #f53f51; color: white; border: none; font-size: x-large;">Out
                                                of Stock</button>
                                            <button onclick="loginRqstBtn()"
                                                style="width: 12rem; height: 3rem; background-color: #5391ae; color: white; border: none; font-size: large;  margin-left: 3rem; ">Go
                                                to Cart</button>
                                            <% } %>
                                                <% } %>
            </div>
        </div>
    </div>

    <!-- image zoom................................................................ -->
    <script>
        var options = {
            width: 270,
            height: 350,
            zoomWidth: 350,
            offset: { vertical: 5, horizontal: 100 }
        };
        new ImageZoom(document.getElementById("img-container"), options);
    </script>

    <script>
        function addCart(proId) {
            $.ajax({
                url: `/add-to-cart/${proId}`,
                method: 'get',
                success: (response) => {
                    if (response.status) {
                        let count = $('#cartCount').html();
                        count = parseInt(count) + 1;
                        $('#cartCount').html(count);
                    }
                    console.log("ajaxcartttttttttttt", proId);
                    Swal.fire('Product added to cart successfully');
                },
            });
        }

        //....................................................................
        function loginRqstBtn() {
            Swal.fire(
                'Please Login!',
                'User not found',
                'question'
            )
        }
        function stockBtn() {
            Swal.fire(
                'Out of Stock!',
                'Product is Untouchable',
                'question'
            )
        }
    </script>

    </body>

    </html>